{% extends "userbase.html" %}

{% block title %} Contact View Details {% endblock %}

{% block content %}

<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class="bg-white mt-3 p-5 font-semibold">
            <div class="grid grid-cols-2 gap-1 items-center">

                <div>
                    <button class="font-semibold">{{ client.name }}</button>
                    <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-1 rounded">{{ client.client_status.text }}</a>
                </div>

                <div>
                    <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-2 rounded"
                       href="{{ url_for('contact.add', id=client.id) }}">Add contact</a>
                </div>

            </div>
        </div>

        <div class="w-1/1 mx-auto mt-4  bg-white rounded">

            <!-- Tabs -->
            <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                <li class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2 border-blue-400 rounded-t opacity-50"><a id="default-tab" href="#first">Customer Details</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#second">Contacts</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#third">Projects</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fourth">Notes</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fifth">Activity</a></li>
            </ul>

            <!-- Tab Contents -->
            <div id="tab-contents">
                <div id="first" class="p-4">
                    First tab
                </div>

                <div id="second" class="hidden p-4">
                    {% if client.contacts %}
                    <h2 class="font-semibold mb-2 mt-2">Contact Summary</h2>
                    <div class="grid grid-cols-6 gap-1">
                        <div>1<br>
                            <span class="text-gray-500">Not Started</span>
                        </div>

                        <div class="border-l-2 pl-3">2<br>
                            <span class="text-blue-500">In Progress</span>
                        </div>

                        <div class="border-l-2 pl-3">3<br>
                            <span class="text-red-500">Testing</span>
                        </div>

                        <div class="border-l-2 pl-3">4<br>
                            <span class="text-gray-500">Awaiting Feedback</span>
                        </div>

                        <div class="border-l-2 pl-3">5<br>
                            <span class="text-blue-800">Complete</span>
                        </div>

                        <div class="border-l-2 pl-3"><br>
                            <span></span>
                        </div>
                    </div>

                    <table class="w-full table-auto mt-5 rounded">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal text-center">
                            <th class="py-3 px-1">Full Name</th>
                            <th class="py-3 px-1">Email</th>
                            <th class="py-3 px-1">Position</th>
                            <th class="py-3 px-1">Phone</th>
                            <th class="py-3 px-1">Active</th>
                            <th class="py-3 px-1">Action</th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-600 font-light">
                        {% for contact in client.contacts %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                             <td class="py-3 px-6 text-left whitespace-nowrap">
                                 <div class="flex items-center">
                                     <span class="font-medium">{{ contact.first_name }} {{ contact.middle_name }} {{ contact.last_name }}</span>
                                 </div>
                             </td>

                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ contact.email }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <span>{{ contact.position }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <span>{{ contact.phone }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <span>---</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <a onclick="openModal(true)" href="javascript:void(0)">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                        </svg>
                                    </div>
                                    </a>
                                    <!-- overlay -->
                                    <div id="modal_overlay" class="hidden absolute inset-0 bg-black bg-opacity-30 h-screen w-full flex justify-center items-start md:items-center pt-10 md:pt-0">

                                    <!-- modal -->
                                    <div id="modal" class="pacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2 h-1/2 md:h-3/4 bg-white rounded shadow-lg transition-opacity transition-transform duration-300">

                                        <!-- button close -->
                                        <button
                                        onclick="openModal(false)"
                                        class="absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
                                        &cross;
                                        </button>

                                        <!-- header -->
                                        <div class="px-4 py-3 border-b border-gray-200">
                                            <h2 class="text-xl font-semibold text-gray-600"><span class="font-medium">Contact Information</span></h2>
                                        </div>

                                        <!-- body -->
                                        <div class="w-full p-3 bg-gray-100">
                                            <div class="container mx-auto">
                                                <div class="md:flex no-wrap md:-mx-2 pt-2">
                                                    <!-- Left Side -->
                                                    <div class="w-full md:w-3/12 md:mx-2">
                                                        <!-- Profile Card -->
                                                        <div class="bg-white p-3 border-t-4 border-blue-400 rounded">
                                                            <div class="image overflow-hidden">
                                                                <img class="rounded-full h-auto w-full mx-auto" src="https://lavinephotography.com.au/wp-content/uploads/2017/01/PROFILE-Photography-112.jpg" alt="">
                                                            </div>
                                                            <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{ contact.first_name }} {{ contact.middle_name }} {{ contact.last_name }}</h1>
                                                            <h3 class="text-gray-600 font-lg text-semibold leading-6">{{ client.name }}</h3>
                                                            <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">-</p>

                                                            <ul class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                                                                <li class="flex items-center py-3">
                                                                    <span>Status</span>
                                                                    <span class="ml-auto">
                                                                    <span class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span></span>
                                                                </li>

                                                                <li class="flex items-center py-3">
                                                                    <span>Added since</span>
                                                                    <span class="ml-auto">2016</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- End of profile card -->
                                                        <div class="my-4"></div>
                                                    </div>

                                                    <!-- Right Side -->
                                                    <div class="w-full md:w-9/12 mx-2 h-64">
                                                        <!-- Profile tab -->
                                                        <!-- About Section -->
                                                        <div class="bg-white p-3 shadow-sm rounded-sm">
                                                            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                                                                <span clas="text-green-500">
                                                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                                                    </svg>
                                                                </span>
                                                                <span class="tracking-wide">About</span>
                                                            </div>
                                                            <div class="text-gray-700">
                                                                <div class="grid md:grid-cols-1 text-sm text-left">
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">First Name</div>
                                                                        <div class="px-1 py-1">{{ contact.first_name }}</div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Last Name</div>
                                                                        <div class="px-1 py-1">{{ contact.last_name }} {{ contact.middle_name }}</div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Gender</div>
                                                                        <div class="px-1 py-1">{{ contact.gender.text }}</div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Contact No.</div>
                                                                        <div class="px-1 py-1">{{ contact.phone }}</div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Alternate Contact Number</div>
                                                                        <div class="px-1 py-1">{{ contact.alternate_contact_number }}</div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Email.</div>
                                                                        <div class="px-1 py-1">
                                                                            <a class="text-blue-800" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="grid grid-cols-2">
                                                                        <div class="px-1 py-1 font-semibold">Birthday</div>
                                                                        <div class="px-1 py-1">{{ contact.dob }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="block w-full text-blue-800 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
                                                                Edit Information
                                                            </button>
                                                        </div>
                                                        <!-- End of about section -->

                                                        <div class="my-4"></div>
                                                        <!-- End of profile tab -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- footer -->
                                        <div class="absolute bottom-0 left-0 px-4 py-3 border-t border-gray-200 w-full flex justify-end items-center gap-3">
                                        <button class="bg-blue-500 hover:bg-green-600 px-4 py-2 rounded text-white focus:outline-none">Save</button>
                                        <button
                                            onclick="openModal(false)"
                                            class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white focus:outline-none"
                                        >Close</button>
                                        </div>
                                    </div>

                                    </div>

                                    <script>
                                    const modal_overlay = document.querySelector('#modal_overlay');
                                    const modal = document.querySelector('#modal');

                                    function openModal (value){
                                        const modalCl = modal.classList
                                        const overlayCl = modal_overlay

                                        if(value){
                                        overlayCl.classList.remove('hidden')
                                        setTimeout(() => {
                                            modalCl.remove('opacity-0')
                                            modalCl.remove('-translate-y-full')
                                            modalCl.remove('scale-150')
                                        }, 100);
                                        } else {
                                        modalCl.add('-translate-y-full')
                                        setTimeout(() => {
                                            modalCl.add('opacity-0')
                                            modalCl.add('scale-150')
                                        }, 100);
                                        setTimeout(() => overlayCl.classList.add('hidden'), 300);
                                        }
                                    }
                                    openModal(false)
                                    </script>

                                    <a href="{{ url_for('contact.edit', id=client.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                            </svg>
                                        </div>
                                    </a>

                                    <a href="{{ url_for('contact.delete', id=client.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                    {% else %}

                    <div class="text-center my-10">
                        <h4 class="font-bold">You do not have any contact in {{ client.name }}!</h4>
                        <div class="my-5">
                            <a href="{{ url_for('contact.add', id=client.id) }}" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Add contact</a>
                        </div>
                    </div>

                    {% endif %}
                </div>
                <div id="third" class="hidden p-4">
                {% if client.projects %}
                    <div class="flex flex-col sm:flex-row items-center border-dashed border-b-2 pb-2">
                        <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-2 rounded" href="/project/add">New project</a>
                        <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
                    </div>

                    <div class="grid grid-cols-5 gap-1 mt-3 text-center">
                        <div class="border-2 border-gray-200 rounded p-3">1<br>
                            <span class="text-gray-500">Not Started</span>
                        </div>

                        <div class="border-2 border-gray-200 rounded p-3">2<br>
                            <span class="text-blue-500">In Progress</span>
                        </div>

                        <div class="border-2 border-gray-200 rounded p-3">3<br>
                            <span class="text-red-500">On Hold</span>
                        </div>

                        <div class="border-2 border-gray-200 rounded p-3">4<br>
                            <span class="text-gray-500">Cancelled</span>
                        </div>

                        <div class="border-2 border-gray-200 rounded p-3">5<br>
                            <span class="text-blue-800">Finished</span>
                        </div>
                    </div>

                    <table class=" w-full table-auto mt-5 rounded">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Project Name</th>
                            <th class="py-3 px-6 text-left">Customer</th>
                            <th class="py-3 px-6 text-left">Start date</th>
                            <th class="py-3 px-6 text-center">Deadline</th>
                            <th class="py-3 px-6 text-center">Members</th>
                            <th class="py-3 px-6 text-center">Status</th>
                            <th class="py-3 px-6 text-center">Tags</th>
                            <th class="py-3 px-6 text-center">Actions</th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-600 text-sm font-light">
                        {% for project in client.projects %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ project.name }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ project.client.name }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <span>{{ project.start_date }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <span>{{ project.dead_line }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <img class="w-6 h-6 rounded-full border-gray-200 border transform hover:scale-125" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                    <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-125" src="https://randomuser.me/api/portraits/women/2.jpg"/>
                                    <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-125" src="https://randomuser.me/api/portraits/men/3.jpg"/>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ project.project_status.text }}</span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">
                                    {% for project_tag in project.project_tags %}
                                    {{ project_tag.tag.name }}
                                    {% endfor %}
                                </span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <a href="{{ url_for('project.view', id=project.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg>
                                        </div>
                                    </a>

                                    <a href="{{ url_for('project.edit', id=project.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                            </svg>
                                        </div>
                                    </a>

                                    <a href="{{ url_for('project.delete', id=project.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="text-center my-10">
                    <h4 class="font-bold">You do not have any project in list!</h4>
                    <div class="my-5">
                        <a href="{{ url_for('project.add', id=client.id) }}" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Add project</a>
                    </div>
                </div>
                {% endif %}

                <div id="fourth" class="hidden p-4">
                    Fourth tab
                </div>

                <div id="fifth" class="hidden p-4">
                     Fifth tab
                </div>
            </div>
        </div>
        <script>
            let tabsContainer = document.querySelector("#tabs");

           let tabTogglers = tabsContainer.querySelectorAll("a");
           console.log(tabTogglers);

           tabTogglers.forEach(function(toggler) {
           toggler.addEventListener("click", function(e) {
           e.preventDefault();

           let tabName = this.getAttribute("href");

           let tabContents = document.querySelector("#tab-contents");

           for (let i = 0; i < tabContents.children.length; i++) {

           tabTogglers[i].parentElement.classList.remove("border-blue-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
           if ("#" + tabContents.children[i].id === tabName) {
           continue;
           }
           tabContents.children[i].classList.add("hidden");

           }
           e.target.parentElement.classList.add("border-blue-400", "border-b-4", "-mb-px", "opacity-100");
           });
           });

           document.getElementById("default-tab").click();

        </script>
    </div>
</div>

{% endblock %}