 {% if orders %}

 <table class="table table-sm table-condensed table-striped table-hover mt-3"
                style="table-layout: fixed; word-wrap: break-word;">
                    <thead class="table-theme-bg">
                        <th style="font-size: 16px;">ID</th>
                        <th style="font-size: 16px;">Buyer Name</th>
                        <th style="font-size: 16px;">Product Name</th>
                        <th style="font-size: 16px;">Product Detail</th>
                        <th style="font-size: 16px;">Quantity</th>
                        <th style="font-size: 16px;">Contact</th>
                        <th style="font-size: 16px;">Address</th>
                        <th style="font-size: 16px;">Status</th>
                        <th style="font-size: 16px;">Payment Method</th>
                        <th style="font-size: 16px;">Ordered</th>
                        <th style="font-size: 16px; ">Delivered</th>
                       <!--  <th style="font-size: 16px;">Delivery Time</th> -->
                        <th style="font-size: 16px; ">Modify</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                    <tbody>
                        <tr>
                            <td>{{loop.index}}</td>
                            <td >{{order.customer_name}}</td>
                            <td >{{order.product_name}}</td>
                            <td >{{order.product_detail}}</td>
                            <td >{{order.product_quantity}}</td>
                            <td >{{order.contact}}</td>
                            <td >{{order.zipcode}},{{order.city}},
                                {{order.country}}
                            </td>
                            <td >{{order.status}}</td>
                            <td >{{order.payment_method}}</td>
                            <td >{{order.order_date}}</td>
                            <td>
                                {% if order.product_delivered == 'True' %}
                                    <p style="font-size: 12px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-3 mr-3 bg-primary text-white text-center rounded">Complete</p>

                                {% elif order.product_cancel %}
                                    <p style="font-size: 12px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-3 mr-3 bg-dark text-white text-center rounded">Cancelled</p>

                                 <!-- <span class="badge badge-complete">Complete</span> -->
                                {% else %}
                                    <p style="font-size: 12px; margin-right: 6px;" class=" p-1 mb-1 mt-1 ml-4 mr-3 bg-danger  text-white text-center rounded">Pending</p>
                         {% endif %}

                            </td>
                            <!-- <td>{{order.delivered_time}}</td> -->
                            <td >

                                {% if order.product_cancel %}
                                <a href="{{url_for('update_orders',id=order.id)}}" class="float-left btn btn-sm btn-primary" style="pointer-events:none; opacity: 0.7">Edit</a>
                                {% else %}
                                <a href="{{url_for('update_orders',id=order.id)}}" class="float-left btn btn-sm btn-primary">Edit</a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

 {% else %}
    <h5 class="text-secondary center mb-0 mt-1 ml-3">
        No Order Yet.
    </h5>

 {% endif %}