{% extends "base.html" %}

{% block title %} Đăng nhập {% endblock %}


{% block content %}
    <h1>Signup page!</h1>

    <form action="" method="post" class="flex flex-col gap-10">
        {{ form.csrf_token() }}

        {% for field in form if field.name != 'csrf_token' %}
            <div class="field">
                {{ field.label() }}
                {{ field(class='border border-gray-300 rounded p-1.5') }}

                <div class="field-errors">
                    {% for error in field.errors %}
                        <h6 class="text-red-500">{{ error }}</h6>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="rounded shadow focus:outline-none bg-green-400 hover:bg-green-600">
            Submit
        </button>
    </form>
{% endblock %}
