
<!-- tailwind.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='libraries/tailwind.min.css') }}">

<!-- alpine.js -->
<script type="text/javascript" src="{{ url_for('static', filename='libraries/alpine.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">


<!-- multi select -->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='libraries/multiselect/dist/bundle.css') }}">-->
<!--<script src="{{ url_for('static', filename='libraries/multiselect/dist/bundle.min.js') }}"></script>-->

<!-- Editor -->
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<!-- Tags multiple choice -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"/>
