<header class="flex flex-scroll bg-white shadow-md" x-data="{ isOpen: false }">
  <nav class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
    <div class="flex items-center justify-between">
      <a class="text-xl font-bold text-white-900 transition-colors duration-300 transform md:text-2xl hover:text-blue-500" href="/">CRM for SMEs</a>
      <!-- Mobile menu button -->
      <div @click="isOpen = !isOpen" class="flex md:hidden">
        <button type="button" class="text-gray-200 hover:text-gray-400 focus:outline-none focus:text-gray-400" aria-label="toggle menu">
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div :class="isOpen ? 'flex' : 'hidden'" class="flex-col mt-2 space-y-4 md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0">
      <a class="text-sm font-medium text-white-900 transition-colors duration-300 transform hover:text-blue-500" href="/">Home</a>
      <a class="text-sm font-medium text-white-900 transition-colors duration-300 transform hover:text-blue-500" href="#app">App</a>
      <a class="text-sm font-medium text-white-900 transition-colors duration-300 transform hover:text-blue-500" href="#price">Price</a>
      <a class="text-sm font-medium text-white-900 transition-colors duration-300 transform hover:text-blue-500" href="#help">Help</a>
      <a class="px-4 py-1 text-sm font-medium text-center text-white-900 transition-colors duration-300 transform border rounded hover:text-blue-500" href="{{ url_for('auth.login') }}">Sign in</a>
    </div>
  </nav>
</header>