<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.APP_NAME }} - {% block title %} {% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    {% include "head-files.html" %}
</head>
<body>
    {% include "header-userbase.html" %}

    <main id="main">
        {% with flash_messages = get_flashed_messages() %}
            {% if flash_messages %}
            {% for msg in flash_messages %}
                <h6 class="text-red-600">{{ msg }}</h6>
            {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}     {% endblock %}
    </main>

    {% include "footer.html" %}
</body>
</html>