{% extends "userbase.html" %}

{% block title %} Invoices Page {% endblock %}

{% block content %}
<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class=" text-center">
            <h1>Invoices Page</h1>

            {% for client_order in the_client_order %}
            <p>Invoice: {{ client_order.invoice }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}