{% extends "userbase.html" %}

{% block title %} Product Brand Page {% endblock %}

{% block content %}
<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class="bg-white rounded mt-5">
        <div class="flex lg:flex-row flex-col-reverse shadow-lg">
        <!-- left section -->
            <div class="w-full lg:w-3/5 min-h-screen shadow-lg">
                <!-- header -->
                <div class="flex flex-row justify-between items-center px-5 mt-5">

                    <div class="text-gray-800">
                        <div class="font-bold text-xl">Point Of Sale (POS)</div>
                        <span class="text-xs">Location ID#SIMON123</span>
                    </div>

                    <div class="flex items-center">
                        <div class="text-sm text-center mr-4">
                            <div class="font-light text-gray-500">last synced</div>
                            <span class="font-semibold">3 mins ago</span>
                        </div>

                        <div>
                            <span class="px-4 py-2 bg-gray-200 text-gray-800 font-semibold rounded">Help</span>
                        </div>
                    </div>

                </div>
                <!-- end header -->

                <!-- categories -->
                <div class="mt-5 flex flex-row px-5">

                    <span class="px-5 py-1 bg-blue-500 rounded-2xl text-white text-sm mr-4">All items</span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">Food</span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">Cold Drinks</span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">Hot Drinks</span>

                </div>
                <!-- end categories -->

                <!-- products -->
                {% if user.clients %}
                <div class="grid grid-cols-3 gap-4 px-5 mt-5 overflow-y-auto h-3/4">
                    {% for product in products %}
                    <div class="px-3 py-3 flex flex-col border border-gray-200 rounded-md justify-between text-center hover:bg-gray-200">
                        <div class="flex flex-row justify-between items-center">
                            <img src="https://source.unsplash.com/sc5sTPMrVfk/600x600" class="object-cover rounded-md" alt="">
                        </div>

                        <div>
                            <div class="font-bold text-gray-800 truncate">{{ product.name }}</div>
                            <span class="font-light text-sm text-gray-400">Stock: {{ product.stock }}</span>
                        </div>

                        <div class="flex-row justify-between items-center text-center">
                            <span class="self-end text-sm text-blue-500">Price: {{ product.price }}</span>
                        </div>

                        <div class="flex-row justify-between items-center text-center bg-blue-500 rounded hover:bg-blue-800">
                            <span class="self-end text-sm text-white">Add cart</span>
                        </div>

                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                <!-- end products -->
            </div>
            <!-- end left section -->

            <!-- right section -->
            <div class="w-full lg:w-2/5">
                <!-- header -->
                <div class="flex flex-row items-center justify-between px-5 mt-5">

                    <div class="font-bold text-xl">Current Order</div>
                    <div class="font-semibold">
                        <span class="px-4 py-2 rounded-md bg-red-100 text-red-500">Clear All</span>
                        <span class="px-4 py-2 rounded-md bg-gray-100 text-gray-800">Setting</span>
                    </div>
                </div>
                <!-- end header -->

                <!-- order list -->
                <div class="px-5 py-4 mt-5 overflow-y-auto h-64">
                    <div class="flex flex-row justify-between items-center mb-4">
                        <div class="flex flex-row items-center w-2/5">
                            <img src="https://source.unsplash.com/4u_nRgiLW3M/600x600" class="w-10 h-10 object-cover rounded-md" alt="">
                            <span class="ml-4 font-semibold text-sm">Stuffed flank steak</span>
                        </div>

                        <div class="w-32 flex justify-between">
                            <span class="px-3 py-1 rounded-md bg-gray-300 ">-</span>
                            <span class="font-semibold mx-4">2</span>
                            <span class="px-3 py-1 rounded-md bg-gray-300 ">+</span>
                        </div>

                        <div class="font-semibold text-lg w-16 text-center">$13.50</div>
                    </div>

                    <div class="flex flex-row justify-between items-center mb-4">
                        <div class="flex flex-row items-center w-2/5">
                            <img src="https://source.unsplash.com/MNtag_eXMKw/600x600" class="w-10 h-10 object-cover rounded-md" alt="">
                            <span class="ml-4 font-semibold text-sm">Ranch Burger</span>
                        </div>

                        <div class="w-32 flex justify-between">
                            <span class="px-3 py-1 rounded-md bg-red-300 text-white">x</span>
                            <span class="font-semibold mx-4">1</span>
                            <span class="px-3 py-1 rounded-md bg-gray-300 ">+</span>
                        </div>

                        <div class="font-semibold text-lg w-16 text-center">$2.50</div>
                    </div>
                </div>
                <!-- end order list -->

                <!-- totalItems -->
                    <div class="px-5 mt-5">
                        <div class="py-4 rounded-md shadow-lg">
                            <div class=" px-4 flex justify-between ">
                                <span class="font-semibold text-sm">Subtotal</span>
                                <span class="font-bold">$35.25</span>
                            </div>

                            <div class=" px-4 flex justify-between ">
                                <span class="font-semibold text-sm">Discount</span>
                                <span class="font-bold">- $5.00</span>
                            </div>

                            <div class=" px-4 flex justify-between ">
                                <span class="font-semibold text-sm">Sales Tax</span>
                                <span class="font-bold">$2.25</span>
                            </div>

                            <div class="border-t-2 mt-3 py-2 px-4 flex items-center justify-between">
                                <span class="font-semibold text-2xl">Total</span>
                                <span class="font-bold text-2xl">$37.50</span>
                            </div>
                        </div>
                    </div>
                <!-- end total -->

                <!-- cash -->
                <div class="px-5 mt-5">
                    <div class="rounded-md shadow-lg px-4 py-4">
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-col">
                                <span class="uppercase text-xs font-semibold">cashless credit</span>
                                <span class="text-xl font-bold text-blue-500">$32.50</span>
                                <span class=" text-xs text-gray-400 ">Available</span>
                            </div>

                            <div class="px-4 py-3 bg-gray-300 text-gray-800 rounded-md font-bold"> Cancel</div>
                        </div>
                    </div>
                </div>
                <!-- end cash -->

                <!-- button pay-->
                <div class="px-5 mt-5">
                    <div class="px-4 py-4 rounded-md shadow-lg text-center bg-blue-500 text-white font-semibold">Pay In Cash</div>
                </div>
                <!-- end button pay -->
            </div>
            <!-- end right section -->
        </div>
        </div>
    </div>
</div>
{% endblock %}