{% extends "userbase.html" %}

{% block title %} Task Checklist Item Page {% endblock %}

{% block content %}
<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
  <div class="h-full ml-14 mt-14 mb-10 md:ml-64">

    {% if user.task_checklist_items %}
            <div class="w-full table-auto mt-5 shadow-md bg-white rounded p-5">
                <div class="flex flex-col sm:flex-row items-center border-dashed border-b-2 pb-2">
                    <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-2 rounded" href="/task-checklist-item/add">New task checklist item</a>
                    <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
                </div>
                <h2 class="font-semibold mb-2 mt-2">Task Checklist Item Summary</h2>
                <div class="grid grid-cols-6 gap-1">
                  <div>1<br>
                        <span class="text-gray-500">Not Started</span>
                  </div>

                  <div class="border-l-2 pl-3">2<br>
                        <span class="text-blue-500">In Progress</span>
                  </div>

                  <div class="border-l-2 pl-3">3<br>
                        <span class="text-red-500">On Hold</span>
                  </div>

                  <div class="border-l-2 pl-3">4<br>
                        <span class="text-gray-500">Cancelled</span>
                  </div>

                  <div class="border-l-2 pl-3">5<br>
                        <span class="text-blue-800">Finished</span>
                  </div>

                  <div class="border-l-2 pl-3"><br>
                        <span></span>
                  </div>
                </div>

                <table class=" w-full table-auto mt-5 rounded">
                      <thead>
                        <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Task Checklist Name</th>
                            <th class="py-3 px-6 text-center">Status</th>
                            <th class="py-3 px-6 text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="text-gray-600 text-sm font-light">
                      {% for task_checklist_item in user.task_checklist_items %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">

                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ task_checklist_item.name }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">
                                    {{ task_checklist_item.task_status.name }}
                                </span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <a href="{{ url_for('task_checklist_item.edit', id=task_checklist_item.id) }}">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                        </svg>
                                    </div>
                                    </a>

                                    <a href="{{ url_for('task_checklist_item.delete', id=task_checklist_item.id) }}">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                    </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>

                <div class="flex flex-col items-center my-12">
                    <div class="flex text-gray-700">
                        <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
                                <polyline points="15 18 9 12 15 6"></polyline>
                            </svg>
                        </div>
                        <div class="flex h-8 font-medium rounded-full bg-gray-200">
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">1</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">...</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">3</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full bg-blue-600 text-white ">4</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">5</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">...</div>
                            <div class="w-8 md:flex justify-center items-center hidden  cursor-pointer leading-5 transition duration-150 ease-in  rounded-full  ">15</div>
                            <div class="w-8 h-8 md:hidden flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded-full bg-pink-600 text-white">4</div>
                        </div>
                        <div class="h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>


    {% else %}
      <div class="text-center my-10">
        <h4 class="font-bold">You do not have any task in list!</h4>
          <div class="my-5">
                <a href="add" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Create a new task</a>
          </div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}