{% extends "userbase.html" %}

{% block title %} View Task Details {% endblock %}

{% block content %}

<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">

        {% if task.task_checklist_items %}

            <table class=" w-full table-auto mt-5 rounded">
                <thead>
                <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Task Checklist Name</th>
                    <th class="py-3 px-6 text-left">Parent of Task</th>
                    <th class="py-3 px-6 text-center">Status</th>
                    <th class="py-3 px-6 text-center">Actions</th>
                </tr>
                </thead>

                <tbody class="text-gray-600 text-sm font-light">

                {% for task_checklist_item in task.task_checklist_items %}

                <tr class="border-b border-gray-200 hover:bg-gray-100">

                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ task_checklist_item.name }}</span>
                        </div>
                    </td>

                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">---</span>
                        </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                        <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">
                            {{ task_checklist_item.task_status.name }}
                        </span>
                    </td>

                    <td class="py-3 px-6 text-center">
                        <div class="flex item-center justify-center">
                            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </div>

                            <a href="{{ url_for('task_checklist_item.edit', id=task_checklist_item.id) }}">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                    </svg>
                                </div>
                            </a>

                            <a href="{{ url_for('task_checklist_item.delete', id=task_checklist_item.id) }}">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

        {% else %}

        <div class="text-center my-10">
            <h4 class="font-bold">You do not have any task checklist in project!</h4>
            <div class="my-5">
                <a href="{{ url_for('task_checklist_item.add') }}" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Add tasklist</a>
            </div>
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}