{% extends "userbase.html" %}

{% block title %} Product Page {% endblock %}

{% block content %}
<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        {% if user.clients %}
        <div class="w-full table-auto mt-5 shadow-md bg-white rounded p-5">
            <div class="flex flex-col sm:flex-row items-center border-dashed border-b-2 pb-2">
                <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-2 rounded" href="/client/add">Add product</a>
                <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
            </div>

            <h2 class="font-semibold mb-2 mt-2">Product Summary</h2>

            <div class="grid grid-cols-6 gap-1">
                <div>1<br>
                    <span class="text-gray-500">Total Customers</span>
                </div>

                <div class="border-l-2 pl-3">2<br>
                    <span class="text-blue-500">Active Customers</span>
                </div>

                <div class="border-l-2 pl-3">3<br>
                    <span class="text-red-500">Inactive Customers</span>
                </div>

                <div class="border-l-2 pl-3">4<br>
                    <span class="text-gray-500">Active Contacts</span>
                </div>

                <div class="border-l-2 pl-3">5<br>
                    <span class="text-blue-800">Inactive Contacts</span>
                </div>

                <div class="border-l-2 pl-3">6<br>
                    <span class="text-blue-800">Contacts Logged In Today</span>
                </div>
            </div>
            <table class=" w-full table-auto mt-5 rounded">
                <thead>
                <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Name</th>
                    <th class="py-3 px-6 text-left">Product ID</th>
                    <th class="py-3 px-6 text-center">Stock</th>
                    <th class="py-3 px-6 text-center">Price</th>
                    <th class="py-3 px-6 text-center">Category</th>
                    <th class="py-3 px-6 text-center">Pub Date</th>
                    <th class="py-3 px-6 text-center">Action</th>
                </tr>
                </thead>

                <tbody class="text-gray-600 text-sm font-light">
                {% for product in products %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ product.name }}</span>
                        </div>
                    </td>
                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ product.id }}</span>
                        </div>
                    </td>
                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ product.stock }}</span>
                        </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                        <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ product.price }}</span>
                    </td>

                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ product.product_category.text }}</span>
                        </div>
                    </td>

                    <td class="py-3 px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ product.pub_date }}</span>
                        </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                        <div class="flex item-center justify-center">
                            <a href="{{ url_for('product.viewProductDetails', id=product.id) }}">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                    </svg>
                                </div>
                            </a>

                            <a href="{{ url_for('product.editProduct', id=product.id) }}">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                    </svg>
                                </div>
                            </a>

                            <a href="{{ url_for('product.deleteProduct', id=product.id) }}">
                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="text-center my-10">
            <h4 class="font-bold">Do not have any product in list!</h4>
            <div class="my-5">
                <a href="" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Add product</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}