{% extends "userbase.html" %}

{% block title %} Project View Details {% endblock %}

{% block content %}

<div class="w-full col-span-12 px-0 mx-auto overflow-x-hidden lg:pl-5 lg:col-span-10 xl:col-span-8 xl:pr-5 xl:overflow-visible min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-100 text-black">
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class="bg-white mt-3 p-5 font-semibold">
            <div class="grid grid-cols-2 gap-1 items-center">

                <div>
                    <button class="font-semibold">{{ project.name }}</button>
                    <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-1 rounded">{{ project.project_status.text }}</a>
                </div>

                <div>
                    <a class="mb-2 mt-2 mr-auto text-xs uppercase bg-blue-500 text-white p-2 rounded" href="{{ url_for('task.add', id=project.id) }}">Add task</a>
                </div>

            </div>
        </div>

        <div class="w-1/1 mx-auto mt-4  bg-white rounded">

            <!-- Tabs -->
            <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                <li class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2 border-blue-400 rounded-t opacity-50"><a id="default-tab" href="#first">Project Overview</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#second">Tasks</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#third">Files</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fourth">Notes</a></li>
                <li class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50"><a href="#fifth">Activity</a></li>
            </ul>

            <!-- Tab Contents -->
            <div id="tab-contents">
                <div id="first" class="p-4">
                    First tab
                </div>

                <div id="second" class="hidden p-4">
                    {% if project.tasks %}
                    <h2 class="font-semibold mb-2 mt-2">Task Summary</h2>
                    <div class="grid grid-cols-6 gap-1">
                        <div>1<br>
                            <span class="text-gray-500">Not Started</span>
                        </div>

                        <div class="border-l-2 pl-3">2<br>
                            <span class="text-blue-500">In Progress</span>
                        </div>

                        <div class="border-l-2 pl-3">3<br>
                            <span class="text-red-500">Testing</span>
                        </div>

                        <div class="border-l-2 pl-3">4<br>
                            <span class="text-gray-500">Awaiting Feedback</span>
                        </div>

                        <div class="border-l-2 pl-3">5<br>
                            <span class="text-blue-800">Complete</span>
                        </div>

                        <div class="border-l-2 pl-3"><br>
                            <span></span>
                        </div>
                    </div>

                    <table class="w-full table-auto mt-5 rounded">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 capitalize text-sm leading-normal text-center">
                            <th class="py-3 px-1">Task Name</th>
                            <th class="py-3 px-1">Customer</th>
                            <th class="py-3 px-1">Start date</th>
                            <th class="py-3 px-1">Deadline</th>
                            <th class="py-3 px-1">Members</th>
                            <th class="py-3 px-1">Status</th>
                            <th class="py-3 px-1">Priority</th>
                            <th class="py-3 px-1">Tags</th>
                            <th class="py-3 px-1">Actions</th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-600 font-light">
                        {% for task in project.tasks %}
                        <tr class="border-b border-gray-200 hover:bg-gray-100">
                             <td class="py-3 px-6 text-left whitespace-nowrap">
                                 <div class="flex items-center">
                                     <span class="font-medium">{{ task.name }}</span>
                                 </div>
                             </td>

                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{ project.user_id }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <span>{{ task.start_date }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <span>{{ task.dead_line }}</span>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                    <img class="w-6 h-6 rounded-full border-gray-200 border transform hover:scale-125" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                    <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-125" src="https://randomuser.me/api/portraits/women/2.jpg"/>
                                    <img class="w-6 h-6 rounded-full border-gray-200 border -m-1 transform hover:scale-125" src="https://randomuser.me/api/portraits/men/3.jpg"/>
                                </div>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ task.task_status.name }}</span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ task.task_priority.name }}</span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">
                                    {% for task_tag in task.task_tags %}
                                    {{ task_tag.tag.name }}
                                    {% endfor %}
                                </span>
                            </td>

                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <a href="{{ url_for('task.view', id=task.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                            </svg>
                                        </div>
                                    </a>

                                    <a href="{{ url_for('task.edit', id=task.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                            </svg>
                                        </div>
                                    </a>

                                    <a href="{{ url_for('task.delete', id=task.id) }}">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                    {% else %}

                    <div class="text-center my-10">
                        <h4 class="font-bold">You do not have any task in {{ project.name }}!</h4>
                        <div class="my-5">
                            <a href="{{ url_for('task.add', id=project.id) }}" class="rounded py-3 px-6 text-lg text-white capitalize bg-blue-500 hover:bg-blue-400">Add a task</a
                        </div>
                    </div>

                    {% endif %}
                </div>
                <div id="third" class="hidden p-4">
                    Third tab
                </div>

                <div id="fourth" class="hidden p-4">
                    Fourth tab
                </div>

                <div id="fifth" class="hidden p-4">
                     Fifth tab
                </div>
            </div>
        </div>
        <script>
            let tabsContainer = document.querySelector("#tabs");

           let tabTogglers = tabsContainer.querySelectorAll("a");
           console.log(tabTogglers);

           tabTogglers.forEach(function(toggler) {
           toggler.addEventListener("click", function(e) {
           e.preventDefault();

           let tabName = this.getAttribute("href");

           let tabContents = document.querySelector("#tab-contents");

           for (let i = 0; i < tabContents.children.length; i++) {

           tabTogglers[i].parentElement.classList.remove("border-blue-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
           if ("#" + tabContents.children[i].id === tabName) {
           continue;
           }
           tabContents.children[i].classList.add("hidden");

           }
           e.target.parentElement.classList.add("border-blue-400", "border-b-4", "-mb-px", "opacity-100");
           });
           });

           document.getElementById("default-tab").click();

        </script>
    </div>
</div>

{% endblock %}